@model Customer

	<div class="mdl-list_item mdl-list_item--two-line">
    <span class="mdl-list_item-primary-content">
        <i class="material-icons mdl-list_item-avatar">person</i>
        <span>@Model.FirstName @Model.LastName</span>
        <span class="mdl-list_item-sub-title">@Model.Type</span>
    </span>
    <span class="mdl-list_item-secondary-content">
        <a class="mdl-list_item-secondary-action" asp-action="Details" asp-route-id="@Model.Id">
            <i class="material-icons">info</i>
        </a>
        
    </span>
</div> 

