@model CrmUser


<div>
	@if (User.Identity.IsAuthenticated)
	{
		<a class="mdl-navigation__link" asp-acton="Logout" asp-controller="Account">Logout</a>
	}

	else
	{
		<a class="mdl-navigation__link" asp-action="Login" asp-controller="Account">Login</a>
		
	}
</div>
<div>
	@if (User.Identity.IsAuthenticated)
	{
		<a class="mdl-navigation__link" asp-action="Login" asp-controller="Account">Login</a>
	}
	else
	{
		<a class="mdl-navigation__link" asp-acton="Logout" asp-controller="Account">Logout</a>
	}
</div>